name: Test With Bats in Ubuntu

on: workflow_call

jobs:
  bats-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: deb-deliverables
          path: ./

      - run: |
          sudo apt-get update
          sudo apt-get upgrade -y
      - run: sudo ./scripts/bats-prepare-deb.sh
      - run: ./scripts/bats-run.sh

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: bats-test-results-deb
          path: |
            ./bats-test-*
